@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Fivo Sans Modern", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
h1 {
  clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);
}
.char {
  transform: translateY(20rem);
  transition: transform(0.5s);
  font-size: 16.4rem;
}
.scroll-container {
  scrollbar-width: none;
}
.scroll-container::-webkit-scrollbar {
  width: 0px;
}

@media screen and (max-width: 1024px) {
  .char {
    transform: translateY(10rem);
    font-size: 8rem;
  }
}

@media screen and (max-width: 640px) {
  .char {
    transform: translateY(5rem);
    font-size: 4rem;
  }
}

@media screen and (max-width: 360px) {
  .char {
    transform: translateY(5rem);
    font-size: 2.8rem;
  }
}
